@charset "UTF-8";

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #607D8B;
  color: black;
  text-shadow: 1px 2px 3px #ffffff;
}

#foot {
  border-style: groove;
  border-radius: 5px;
  padding: 25px 50px 75px 100px;

}

section#fonttest {
  font-family: verdana, sans-serif;
}

@font-face {
  font-family: myFirstFont;
  src: url(OpenSans-LightItalic.ttf);
}

p::first-line {
  color: #0000ff;
}

::selection {
  color: blue;
  background: grey;
}

a:link {
  color: #00aa00;
}

a:visited {
  color: #aa0000;
}

a:active {
  color: #0000aa;
}

img {
  float: right;
}

figure.clearfix {
  overflow: auto;
}

figure {
  clear: left;
}

ul {
  list-style-type: circle;
}

section {
  overflow: scroll;
}



a {
  display: block;
}

#vid {
  background-color:darkgrey;
  width: 400px;
  border: 15px solid pink;
  padding: 10px;
  margin: 10px;
}
@media screen and (min-width: 220px) {
  body {
    background-color: #eeeeee;
  }
}
body {
  background-color: 	#D3D3D3;
  font-family: myFirstFont;
}

#flexcontainer {
  display: flex;
  flex-wrap: nowrap;
  background-color: #783963;
}

#flexcontainer > div {
  background-color: #eeeeee;
  width: 140px;
  margin: 140px;
  text-align: center;
  line-height: 90px;
  font-size: 40px;
}

#b1 {
  width: 300px;
  height: 100px;
  border: 2px dotted yellow;
  box-sizing: border-box;
}

#b2 {
  width: 300px;
  height: 100px;
  padding: 50px;
  border: 1px solid blue;
  box-sizing: border-box;
}

#menu{
  width: 25%;
  float: left;

}

li {
  padding: 8px;
  margin-bottom: 7px;
  background-color :#789ea5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

li:hover {
  background-color: #67ff90;
}


#mainright {
  margin-left: 10%;
  width: 65%;
  float: left;
}

#sec {
  float: left;
  width: 63.197026%;
  margin: 1.858736059%;
  background-color: green;
}

#container > aside {
  float: right;
  width: 29.3680297%;
  margin: 1.858736059%;
  background-color: green;
}


#smallbox {
  width: 50px;
  height: 50px;
  background: blue;
  transition: width 3s, height 6s;
}

#smallbox:hover {
  width: 400px;
  height: 500px;
}

h1 {
  color: #A9A9A9;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-family: opensans;
  font-size: 20px;
}

td {text-align: center;}
